<!DOCTYPE html>
<html>
  <head>
    <title>NaisDenkiWeb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="is-sticky">
      <a href="#">ナイス電気</a>
      <div class="header_menu"><!-- トグルの内容がくる --></div>
      <btn class="header_toggle"><!-- トグルのsvgがくる --></btn>
    </header>
    <%= yield %>
  </body>
</html>
